<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.content.mapper.CourseCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuecheng.content.model.po.CourseCategory">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="label" property="label" />
        <result column="parentid" property="parentid" />
        <result column="is_show" property="isShow" />
        <result column="orderby" property="orderby" />
        <result column="is_leaf" property="isLeaf" />
    </resultMap>

    <!-- 通用查询结果列 -->
<!--    <sql id="Base_Column_List">-->
<!--        id, name, label, parentid, is_show, orderby, is_leaf-->
<!--    </sql>-->

<!--    <select id="selectTreeNodes"  parameterType="string" resultType="com.xuecheng.content.model.dto.CourseCategoryTreeDto">-->
<!--        with recursive t1 as (-->
<!--            select * from course_category where id=#{id}-->
<!--            union all-->
<!--            select t2.* from course_category t2 inner join t1 on t1.id = t2.parentid-->

<!--        )-->
<!--        select * from t1-->
<!--        order by t1.id-->

<!--    </select>-->

    <select id="selectTreeNodesWithMaxDepth" parameterType="string" resultType="com.xuecheng.content.model.dto.CourseCategoryTreeDto">
        SELECT
            one.id            AS one_id,
            one.name          AS one_name,
            one.parentid      AS one_parentid,
            one.orderby       AS one_orderby,
            one.label         AS one_label,

            two.id            AS two_id,
            two.name          AS two_name,
            two.parentid      AS two_parentid,
            two.orderby       AS two_orderby,
            two.label         AS two_label,

            three.id          AS three_id,
            three.name        AS three_name,
            three.parentid    AS three_parentid,
            three.orderby     AS three_orderby,
            three.label       AS three_label,

            four.id           AS four_id,
            four.name         AS four_name,
            four.parentid     AS four_parentid,
            four.orderby      AS four_orderby,
            four.label        AS four_label,

            five.id           AS five_id,
            five.name         AS five_name,
            five.parentid     AS five_parentid,
            five.orderby      AS five_orderby,
            five.label        AS five_label
        FROM course_category one
                 LEFT JOIN course_category two ON one.id = two.parentid AND two.is_show = 1
                 LEFT JOIN course_category three ON two.id = three.parentid AND three.is_show = 1
                 LEFT JOIN course_category four ON three.id = four.parentid AND four.is_show = 1
                 LEFT JOIN course_category five ON four.id = five.parentid AND five.is_show = 1
        WHERE one.parentid = #{parentId} -- 使用参数 #{parentId} 替代固定值 '1'
          AND one.is_show = 1
        ORDER BY
            one.orderby,
            two.orderby,
            three.orderby,
            four.orderby,
            five.orderby
    </select>

</mapper>
